redis
psycopg2-binary
cromulent>=0.16.8
requests
requests_toolbelt
ujson
jsonpath-ng
SPARQLWrapper
dateutils
edtf
dateparser
shapely
lxml
jsonschema
lmdbm>=0.0.6
sqlitedict
numpy
bs4
python-dotenv
pyluach
